html {
  background: linear-gradient(to bottom right, #0D324D, #7F5A83);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.bold-nav-font {
    font-weight: bold;
}

.orange-btn {
    background-color: #FF7F27;
    color: white;
}

.sm-margin-top {
    margin-top: 10px;
}

body, input, select, textarea, nav {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
}



body {
    background-color: transparent;
    color: white
}



/* body {
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
} */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    width: 100%;
    margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	/* color: #fff; */
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
	color: white;

}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }


/* ID Section */


#home_title {
    padding: 100px 100px 50px 100px;
    font-size: 5rem;

}

#home_website_description {
    font-size: 2rem;

}




/* Classes */

.add-custom-workout {
    padding: 2%;
}

.box h1 {
    /* color: #fff; */
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing:1px;
    text-align:center;
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}

.box-lg {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}


.center-header-title {
    margin: 125px 0px 0px;
}

.container-fluid{
  padding: 7% 15%;
}

.date-box{
    margin-right:56%;
}


.delete-workout-btn{
    margin-top: 7px
}

.small-blk-button{
    min-width: 100px;
}

.green-button{
    background-color: #8FE3CF;
    color: black;
}

#features {
    position: relative;
}

.feature-box {
    padding: 4.5%;
    text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.individual-exercise-name{
    margin: 2% auto;
}

.list-group-item{
    min-width: 350px;
}


.routine-name-header {
    font-size: 4rem;
    padding-bottom: 5%;
}

.record-workout-btn {
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: 5%;
}

.text-center {
  text-align: center;
}

.tutorial-link-btn {
    margin: 4% 5% 0% 0%;
    min-width: 300px;
}

.get-started-btn {
    margin: 4% 0% 0% 5%;
    min-width: 300px;
}

.renaming-routine-input{
    margin-top: 3%;
    margin-bottom: 3%;
}

.new-exercise-name-input{
    margin-top: 3%;
    margin-bottom: 3%;
}

.grad1 {
    background-image: linear-gradient(to bottom right, #0D324D, #7F5A83);
}

.transparent-list {
    background: transparent;
    border-color: white;
}

.small-btm-margin {
    margin-bottom: 3%;
}

.min-width-btn {
    min-width: 7rem;
}

.top-btm-margins {
    margin-top: 2%;
    margin-bottom: 2%;
}

.btm-padding {
    padding-bottom: 10px
}

