{% extends "base.html" %}
{% block content %}


<div class="box">
	<h1>Register</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning text-center">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('create_account') }}" method="post">
    	<input type="text" name="first_name" placeholder="First Name" required="required" />
        <input type="text" name="last_name" placeholder="Last Name" required="required" />
		<input type="email" name="email" placeholder="Email" required="required" />
        <input type="password" name="password1" placeholder="Password" required="required" />
        <input type="password" name="password2" placeholder="Confirm Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Create Account</button>
    </form>
</div>

{% endblock %}