{% extends "base.html" %}
{% block content %}

    <div class="row justify-content-center text-center">
         <div class="col-md-6">
            <h1 class="center-header-title">Edit a Workout Routine!</h1>


            <form action="{{ url_for('new_routine') }}" method="POST">

                <label class="new-exercise-name-input">Exercise</label>
                <input name="Exercise_Name" type="text" placeholder="Example: Bench Press">
                <button type="submit" class="btn btn-dark btn-sm small-blk-btn">Add Exercise</button>

                <input hidden="hidden" name="Exercise_List" value = {exercise_list}>

            </form>

                <div class="row justify-content-center text-center">
                    <div class="col-md-6">
                        {% for exercise in exercise_list: %}
                        <ul class="list-group list-group-horizontal">
<!--                            <div>-->
                                <li class="list-group-item mx-auto">
                                    {{ exercise }}
                                </li>
<!--                            </div>-->
<!--                            <div>-->
                                <li style="list-style-type: none;">
                                    <a href="{{ url_for('delete_from_routine', exercise_name=exercise, routine_name=routine_name) }}" class="btn btn-dark btn-md small-blk-btn delete-workout-btn">Delete</a>
                                </li>
<!--                            </div>-->
                        </ul>
                        {% endfor %}
                    </div>
                </div>


            <form action="{{ url_for('save_routine_edits') }}" method="POST">

                <label class="renaming-routine-input">What do you want to call this routine?</label>
                <input name="new_routine_name" type="text" value="{{routine_name}}" placeholder="Previously: {{routine_name}}" required>
                <button type="submit" class="btn btn-dark btn-sm small-blk-btn">Save Routine</button>

                <input hidden="hidden" name="old_routine_name" value="{{routine_name}}">
                <input hidden="hidden" name="Exercise_List" value = {{exercise_list}}>


        </form>
         </div>
    </div>


{% endblock %}