<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">

    <title>{{ workout_name }}</title>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  </head>

  <body>


    <h1>{{ workout_name }}</h1>
    <form action="{{ url_for('completed_exercises') }}" method="POST">
    {% for exercise in exercises_in_selected_workout: %}
        <h3>{{ exercise }}</h3>
        <label>Sets</label>
        <input name="Sets{{ loop.index }}" type="number">
        <label>Reps</label>
        <input name="Reps{{ loop.index }}" type="number">
        <label>Weight</label>
        <input name="Weight{{ loop.index }}" type="number" step="0.5">

        <input hidden="hidden" name="Number_of_Exercises" value ={{number_of_exercises}}>
        <input hidden="hidden" name="Date{{ loop.index }}" value = "{{ workout_date }}">
        <input hidden="hidden" name="Exercise{{ loop.index }}" value="{{ exercise }}">
        <input hidden="hidden" name="Workout{{ loop.index }}" value="{{ workout_name }}">
    {% endfor %}
        <br>
        <br>
        <button type="submit">Add Exercises</button>
    </form>



</body>
</html>