{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center" id="home_title">
                TBD App Name
            </div>
            <div class="text-center" id="home_website_description">
                <h1>Record workouts, and visualize progress with your own personal dashboard.</h1>
                <div id="home-buttons">
                    <button type="button" class="btn btn-dark btn-lg tutorial-link-btn">See how it works</button>
                    <a href="{{ url_for('workout_choice') }}" class="btn btn-dark btn-lg get-started-btn">Get started</a>
                </div>
            </div>
        </div>
    </div>

  <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Easy to use.</h3>
          <p>Super duper simple.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Aesthetic.</h3>
          <p>Cool graphs.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Guaranteed to work.</h3>
          <p>See your progress in real time.</p>
        </div>
      </div>


    </div>
  </section>

<a href="{{ url_for('dashboard') }}" class="btn btn-dark btn-lg get-started-btn">Dashboard</a>


{% endblock %}