{% extends "base.html" %}
{% block content %}


<div class="box">
	<h1 style="margin-bottom: 20px;">Log In</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning text-center">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('login') }}" method="post">
		<input type="email" name="email" placeholder="Email" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn orange-btn btn-block btn-large sm-margin-top">Log In</button>
    </form>
</div>

{% endblock %}