{% extends "base.html" %}
{% block content %}

    <div class="row justify-content-center text-center center-header-title">
        <div class="col-md-6">
            {% if workout_list: %}
            <form action="{{ url_for('add_to_workout') }}" method="POST">
<!--                <label for="date">Date</label>-->
<!--                <input type="date" id="date" name="workout_date" required>-->
                <br>
                <br>
                <select class="form-control select2 select2-hidden-accessible mx-auto" style="width: 50%;" tabindex="-1" aria-hidden="true"
                        name="Workout_ListBox" id="workouts_list" required>
                        <option>Select a routine</option>
                    {% for workout in workout_list: %}
                        <option value="{{workout}}">{{ workout }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input type="submit" name="button" value="Record a Workout" class="btn btn-dark btn-sm small-blk-btn">
                <input type="submit" name="button" value="Edit Routine" class="btn btn-dark btn-sm small-blk-btn">
                <input type="submit" name="button" value="Delete Routine" class="btn btn-dark btn-sm small-blk-btn">
            </form>
                <br>
                <a href="{{ url_for('new_routine') }}" class="btn btn-dark btn-sm choose-workout-page-btn green-button">Add new custom workout routine</a>
        {% else: %}
            <p>
                You don't have any workouts logged!
                <a href="{{ url_for('new_routine') }}">Start here by adding your first workout</a>
            </p>
       {% endif %}
        </div>
    </div>

{% endblock %}